unless _.isEmpty(resume.basics.summary)
  .detail#about
    .icon
      i.fs-lg.icon-board
      span.mobile-title 關於我
    .info
      h4.title.text-uppercase 關於我

      .content(itemprop="description")= resume.basics.summary
